# Engenharia do Conhecimento 2023/2024

## Project: *Thyroid disease Data Set*

#### Group 6:

- Eduardo Proença 57551
- Tiago Oliveira 54979
- Bernardo Lopes 54386

### Summary

1. Data Processing
    1. Creating a Data Frame
    2. Data investigation
    3. Encoding Data
    4. Splitting into training and testing set
    5. Imputing missing values
    6. Scaling Data
    
2. Classification Models
    1. Feature Selection
    2. KFold Cross validation
    3. Decision Tree
    4. Logistic Regression
    5. Naive Bayes
    6. KNN
    7. SVM
       
3. Model Selection
    1. Hyperparameter tuning
    2. Model Testing

## 1. Data Processing

When constructing a machine learning model, data processing is an important step. We need to ensure that our data set is properly processed so that it can be used in the best possible way by diferent classification models.

### 1.1 Creating a Data Frame

The first step is load our data set. For that, we can use the [Pandas](https://pandas.pydata.org) Python Library, to read the file "proj-data.csv", which contains the data set we will be using in this project and build a DataFrame

In [456]:
import pandas as pd

# Load data set
df_thyroid = pd.read_csv('proj-data.csv')
df_thyroid.shape

(7338, 31)

In [457]:
df_thyroid.head()

,age:,sex:,on thyroxine:,query on thyroxine:,on antithyroid medication:,sick:,pregnant:,thyroid surgery:,I131 treatment:,query hypothyroid:,...,TT4:,T4U measured:,T4U:,FTI measured:,FTI:,TBG measured:,TBG:,referral source:,diagnoses,[record identification]
0,29,F,f,f,f,f,f,f,f,t,...,?,f,?,f,?,f,?,other,-,[861106018]
1,29,F,f,f,f,f,f,f,f,f,...,128,f,?,f,?,f,?,other,-,[860916073]
2,36,F,f,f,f,f,f,f,f,f,...,?,f,?,f,?,t,26,other,-,[850726049]
3,60,F,f,f,f,f,f,f,f,f,...,?,f,?,f,?,t,26,other,-,[861010020]
4,77,F,f,f,f,f,f,f,f,f,...,?,f,?,f,?,t,21,other,-,[860324074]

### 1.2 Data investigation

After building our DataFrame, it's important to do some investigation, so we can gain a better understanding of our data.

Lets a have a deeper look at our DataFrame:

In [458]:
# TODO fix prints
for col in df_thyroid.columns:
    print("Values of ", end='')
    print(df_thyroid[col].value_counts(), end="\n\n")

Values of age:
60       175
62       169
72       164
59       162
61       161
        ...
7          1
65511      1
65512      1
3          1
9          1
Name: count, Length: 98, dtype: int64

Values of sex:
F    4848
M    2250
?     240
Name: count, dtype: int64

Values of on thyroxine:
f    6347
t     991
Name: count, dtype: int64

Values of query on thyroxine:
f    7222
t     116
Name: count, dtype: int64

Values of on antithyroid medication:
f    7237
t     101
Name: count, dtype: int64

Values of sick:
f    7063
t     275
Name: count, dtype: int64

Values of pregnant:
f    7254
t      84
Name: count, dtype: int64

Values of thyroid surgery:
f    7233
t     105
Name: count, dtype: int64

Values of I131 treatment:
f    7211
t     127
Name: count, dtype: int64

Values of query hypothyroid:
f    6835
t     503
Name: count, dtype: int64

Values of query hyperthyroid:
f    6830
t     508
Name: count, dtype: int64

Values of lithium:
f    7264
t      74
Name: count, dtype: int64

Values of goitre:
f    7273
t      65
Name: count, dtype: int64

Values of tumor:
f    7144
t     194
Name: count, dtype: int64

Values of hypopituitary:
f    7336
t       2
Name: count, dtype: int64

Values of psych:
f    7015
t     323
Name: count, dtype: int64

Values of TSH measured:
t    6667
f     671
Name: count, dtype: int64

Values of TSH:
?       671
0.1     245
1.1     194
1.3     190
1.4     185
       ...
117       1
1.02      1
260       1
138       1
500       1
Name: count, Length: 351, dtype: int64

Values of T3 measured:
t    5270
f    2068
Name: count, dtype: int64

Values of T3:
?           2068
1.8          375
2            359
1.9          339
2.1          321
            ...
8.5            1
6              1
8.9            1
8.099999       1
8              1
Name: count, Length: 82, dtype: int64

Values of TT4 measured:
t    6976
f     362
Name: count, dtype: int64

Values of TT4:
?      362
101    132
98     128
93     121
104    113
      ...
218      1
261      1
3.9      1
240      1
280      1
Name: count, Length: 278, dtype: int64

Values of T4U measured:
t    6674
f     664
Name: count, dtype: int64

Values of T4U:
?       664
0.97    187
0.99    187
0.9     185
0.93    185
       ...
1.94      1
0.2       1
0.4       1
1.86      1
2         1
Name: count, Length: 167, dtype: int64

Values of FTI measured:
t    6680
f     658
Name: count, dtype: int64

Values of FTI:
?      658
107    127
100    124
104    117
93     112
      ...
445      1
612      1
271      1
881      1
329      1
Name: count, Length: 303, dtype: int64

Values of TBG measured:
f    7054
t     284
Name: count, dtype: int64

Values of TBG:
?      7054
27       19
23       18
29       17
20       17
       ...
0.1       1
108       1
50        1
53        1
10        1
Name: count, Length: 61, dtype: int64

Values of referral source:
other    4369
SVI      1933
SVHC      758
STMW      215
SVHD       60
WEST        3
Name: count, dtype: int64

Values of diagnoses
-      5428
K       346
G       288
I       259
F       187
R       163
A       114
L        96
N        93
M        87
S        68
GK       40
AK       32
J        25
B        18
MK       12
Q        12
GI       10
O        10
KJ        9
C|I       8
H|K       7
D         6
P         5
FK        5
C         4
MI        1
LJ        1
GKJ       1
OI        1
D|R       1
E         1
Name: count, dtype: int64

Values of [record identification]
[861106018]    1
[850306055]    1
[851114028]    1
[860826013]    1
[860312011]    1
              ..
[850809087]    1
[850620047]    1
[851009089]    1
[861201054]    1
[861208018]    1
Name: count, Length: 7338, dtype: int64

The column "[record idenfication]"

In [459]:
df = df_thyroid.drop("[record identification]", axis=1)

Now we are going to take a look at the missing values in our DataFrame:

In [460]:
import numpy as np

df.replace('?', np.nan, inplace=True)
df.isna().sum()

age:                             0
sex:                           240
on thyroxine:                    0
query on thyroxine:              0
on antithyroid medication:       0
sick:                            0
pregnant:                        0
thyroid surgery:                 0
I131 treatment:                  0
query hypothyroid:               0
query hyperthyroid:              0
lithium:                         0
goitre:                          0
tumor:                           0
hypopituitary:                   0
psych:                           0
TSH measured:                    0
TSH:                           671
T3 measured:                     0
T3:                           2068
TT4 measured:                    0
TT4:                           362
T4U measured:                    0
T4U:                           664
FTI measured:                    0
FTI:                           658
TBG measured:                    0
TBG:                          7054
referral source:                 0
diagnoses                        0
dtype: int64

In [461]:
# TODO this needs tunning
#df_cleaned = (df.drop("TBG:", axis = 1)).dropna(subset=["T3:"])
#df_cleaned = df.dropna(subset=["T3:"])
df_cleaned = df.drop(["TBG measured:", "TBG:"], axis = 1)
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7338 entries, 0 to 7337
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age:                        7338 non-null   int64
 1   sex:                        7098 non-null   object
 2   on thyroxine:               7338 non-null   object
 3   query on thyroxine:         7338 non-null   object
 4   on antithyroid medication:  7338 non-null   object
 5   sick:                       7338 non-null   object
 6   pregnant:                   7338 non-null   object
 7   thyroid surgery:            7338 non-null   object
 8   I131 treatment:             7338 non-null   object
 9   query hypothyroid:          7338 non-null   object
 10  query hyperthyroid:         7338 non-null   object
 11  lithium:                    7338 non-null   object
 12  goitre:                     7338 non-null   object
 13  tumor:                      7338 non-null   object
 14  hypopituitary:              7338 non-null   object
 15  psych:                      7338 non-null   object
 16  TSH measured:               7338 non-null   object
 17  TSH:                        6667 non-null   object
 18  T3 measured:                7338 non-null   object
 19  T3:                         5270 non-null   object
 20  TT4 measured:               7338 non-null   object
 21  TT4:                        6976 non-null   object
 22  T4U measured:               7338 non-null   object
 23  T4U:                        6674 non-null   object
 24  FTI measured:               7338 non-null   object
 25  FTI:                        6680 non-null   object
 26  referral source:            7338 non-null   object
 27  diagnoses                   7338 non-null   object
dtypes: int64(1), object(27)
memory usage: 1.6+ MB

### 1.3 Encoding Data

In machine learning, there are classification models that can not handle object type values. For this reason we need to transform our DataFrame so that it is onlu composed od numeric types, this process is refered to as data enconding.

Enconding variables

In [462]:
import numpy as np

encoded_values = {
    'M': '0', 'F': '1',
    'f': '0', 't': '1'
}
target = "diagnoses"
df_target = pd.DataFrame(df_cleaned["diagnoses"], columns=["diagnoses"])

encoded = df_cleaned.drop("diagnoses", axis=1).replace(encoded_values)
df_encoded = pd.get_dummies(encoded, columns=["referral source:"], dtype='int')

Encoding target variable

In [463]:
for index, value in df_target[target].items():
    if value == '-':
        df_target.at[index, target] = 0
    elif value == 'A' or value == 'B' or value == 'C' or value == 'D':
        df_target.at[index, target] = 1
    elif value == 'E' or value == 'F' or value == 'G' or value == 'H':
        df_target.at[index, target] = 2
    elif value == 'I' or value == 'J':
        df_target.at[index, target] = 3
    elif value == 'K':
        df_target.at[index, target] = 4
    elif value == 'L' or value == 'M' or value == 'N':
        df_target.at[index, target] = 5
    elif value == 'O' or value == 'P' or value == 'Q':
        df_target.at[index, target] = 6
    elif value == 'R' or value == 'S' or value == 'T':
        df_target.at[index, target] = 7
    else:
        df_target.at[index, target] = 8

df_target[target] = pd.to_numeric(df_target[target])
df_target[target].unique()

array([0, 7, 5, 2, 4, 3, 1, 8, 6], dtype=int64)

In [464]:
df = pd.concat([df_encoded, df_target], axis=1)
df.head()

,age:,sex:,on thyroxine:,query on thyroxine:,on antithyroid medication:,sick:,pregnant:,thyroid surgery:,I131 treatment:,query hypothyroid:,...,T4U:,FTI measured:,FTI:,referral source:_STMW,referral source:_SVHC,referral source:_SVHD,referral source:_SVI,referral source:_WEST,referral source:_other,diagnoses
0,29,1,0,0,0,0,0,0,0,1,...,NaN,0,NaN,0,0,0,0,0,1,0
1,29,1,0,0,0,0,0,0,0,0,...,NaN,0,NaN,0,0,0,0,0,1,0
2,36,1,0,0,0,0,0,0,0,0,...,NaN,0,NaN,0,0,0,0,0,1,0
3,60,1,0,0,0,0,0,0,0,0,...,NaN,0,NaN,0,0,0,0,0,1,0
4,77,1,0,0,0,0,0,0,0,0,...,NaN,0,NaN,0,0,0,0,0,1,0

### 1.4 Splitting into training and testing set

In [465]:
from sklearn.model_selection import train_test_split

X = df.drop("diagnoses", axis='columns')
y = df["diagnoses"]

X_TRAIN, X_IVS, y_TRAIN, y_IVS = train_test_split(X, y, test_size=0.2)

# Print the shapes of the training and testing sets
print("Training set shape:", X_TRAIN.shape, y_TRAIN.shape)
print("Testing set shape:", X_IVS.shape, y_IVS.shape)

Training set shape: (5870, 32) (5870,)
Testing set shape: (1468, 32) (1468,)

### 1.5 Scaling Data

In [466]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_TRAIN)

X_train_scl = scaler.transform(X_TRAIN)
X_ivs_scl = scaler.transform(X_IVS)

### 1.6 Imputing missing values

In [467]:
# TODO Needs more tuning
from sklearn.impute import KNNImputer, SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
#imputer = KNNImputer(n_neighbors=5)

X_train_imp = imputer.fit_transform(X_train_scl)
X_ivs_imp = imputer.transform(X_ivs_scl)

X_TRAIN = pd.DataFrame(X_train_imp, columns=X_TRAIN.columns)
X_IVS = pd.DataFrame(X_ivs_imp, columns=X_IVS.columns)

missing_values = X_TRAIN.isna().sum().sum() + X_IVS.isna().sum().sum()
print(f"Missing values count: {missing_values}")

Missing values count: 0

In [468]:
X_TRAIN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5870 entries, 0 to 5869
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age:                        5870 non-null   float64
 1   sex:                        5870 non-null   float64
 2   on thyroxine:               5870 non-null   float64
 3   query on thyroxine:         5870 non-null   float64
 4   on antithyroid medication:  5870 non-null   float64
 5   sick:                       5870 non-null   float64
 6   pregnant:                   5870 non-null   float64
 7   thyroid surgery:            5870 non-null   float64
 8   I131 treatment:             5870 non-null   float64
 9   query hypothyroid:          5870 non-null   float64
 10  query hyperthyroid:         5870 non-null   float64
 11  lithium:                    5870 non-null   float64
 12  goitre:                     5870 non-null   float64
 13  tumor:                      5870 non-null   float64
 14  hypopituitary:              5870 non-null   float64
 15  psych:                      5870 non-null   float64
 16  TSH measured:               5870 non-null   float64
 17  TSH:                        5870 non-null   float64
 18  T3 measured:                5870 non-null   float64
 19  T3:                         5870 non-null   float64
 20  TT4 measured:               5870 non-null   float64
 21  TT4:                        5870 non-null   float64
 22  T4U measured:               5870 non-null   float64
 23  T4U:                        5870 non-null   float64
 24  FTI measured:               5870 non-null   float64
 25  FTI:                        5870 non-null   float64
 26  referral source:_STMW       5870 non-null   float64
 27  referral source:_SVHC       5870 non-null   float64
 28  referral source:_SVHD       5870 non-null   float64
 29  referral source:_SVI        5870 non-null   float64
 30  referral source:_WEST       5870 non-null   float64
 31  referral source:_other      5870 non-null   float64
dtypes: float64(32)
memory usage: 1.4 MB

## 2. Classification Models

### 2.1 Feature Selection

In [469]:
# TODO feature selection needs tuning
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.linear_model import LinearRegression

n_features = int(X_TRAIN.shape[1] * .4)
sfs = SequentialFeatureSelector(LinearRegression(), 
                                n_features_to_select=5, 
                                direction='forward', 
                                n_jobs=-1)
sfs.fit(X_TRAIN, y_TRAIN)

N, M = X_TRAIN.shape
features=sfs.get_support()
features_selected = np.arange(M)[features]
print("The features selected are columns: ", features_selected)

X_TRAIN = sfs.transform(X_TRAIN)
X_IVS = sfs.transform(X_IVS)

The features selected are columns:  [ 6 17 19 21 25]

### 2.2 KFold Cross validation

In [470]:
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, matthews_corrcoef

def evaluate(model, X, y):
    TRUTH = None
    PREDS = None
    kf = KFold(n_splits=5, shuffle=True)
    for train_index, test_index in kf.split(X):
        X_train, y_train = X[train_index], y.to_numpy()[train_index]
        X_test, y_test = X[test_index], y.to_numpy()[test_index]
        
        model.fit(X_train, y_train)
        preds = model.predict(X_test)
        if TRUTH is None:
            PREDS = preds
            TRUTH = y_test
        else:
            PREDS = np.hstack((PREDS, preds))
            TRUTH = np.hstack((TRUTH, y_test))
    return TRUTH, PREDS
           
def print_statistics(truth, preds):
    print("Accuracy: %7.4f" % accuracy_score(truth, preds))
    print("Precision: %7.4f" % precision_score(truth, preds, average='weighted', zero_division=1))
    print("Recall is: %7.4f" % recall_score(truth, preds, average='weighted'))
    print("F1 score: %7.4f" % f1_score(truth, preds, average='weighted'))
    print("Matthews correlation coefficient: %7.4f" % matthews_corrcoef(truth, preds))

### 2.3 Decision Tree

In [471]:
from sklearn.tree import DecisionTreeClassifier

TRUTH, PREDS = evaluate(DecisionTreeClassifier(), X_TRAIN, y_TRAIN)
print_statistics(TRUTH, PREDS)

Accuracy:  0.8675
Precision:  0.8647
Recall is:  0.8675
F1 score:  0.8654
Matthews correlation coefficient:  0.7005

### Random Forest Classifier

In [472]:
from sklearn.ensemble import RandomForestClassifier

TRUTH, PREDS = evaluate(RandomForestClassifier(), X_TRAIN, y_TRAIN)
print_statistics(TRUTH, PREDS)

Accuracy:  0.8957
Precision:  0.8859
Recall is:  0.8957
F1 score:  0.8878
Matthews correlation coefficient:  0.7634

### 2.4 Logistic Regression

In [473]:
from sklearn.linear_model import LogisticRegression

TRUTH, PREDS = evaluate(LogisticRegression(), X_TRAIN, y_TRAIN)
print_statistics(TRUTH, PREDS)

Accuracy:  0.8155
Precision:  0.7860
Recall is:  0.8155
F1 score:  0.7814
Matthews correlation coefficient:  0.5250

### 2.5 Naive Bayes

In [474]:
from sklearn.naive_bayes import GaussianNB

TRUTH, PREDS = evaluate(GaussianNB(), X_TRAIN, y_TRAIN)
print_statistics(TRUTH, PREDS)

Accuracy:  0.1434
Precision:  0.8358
Recall is:  0.1434
F1 score:  0.0677
Matthews correlation coefficient:  0.1833

### 2.6 KNN

In [475]:
from sklearn.neighbors import KNeighborsClassifier

TRUTH, PREDS = evaluate(KNeighborsClassifier(), X_TRAIN, y_TRAIN)
print_statistics(TRUTH, PREDS)

Accuracy:  0.8475
Precision:  0.8258
Recall is:  0.8475
F1 score:  0.8290
Matthews correlation coefficient:  0.6318

### 2.7 SVM

In [476]:
from sklearn.svm import SVC

TRUTH, PREDS = evaluate(SVC(), X_TRAIN, y_TRAIN)
print_statistics(TRUTH, PREDS)

Accuracy:  0.8378
Precision:  0.8050
Recall is:  0.8378
F1 score:  0.8071
Matthews correlation coefficient:  0.5968

## 3. Model Selection

### 3.1 Hyperparameter tuning

In [477]:
model_params = {
    'Decision Tree': {
        'model': DecisionTreeClassifier(),
        'params': {
            'criterion': ['gini', 'entropy', 'log_loss'],
            'splitter': ['best', 'random'],
            'max_depth': np.arange(1, 15, 1),
            'min_samples_split': np.arange(2, 20, 2),
            'min_samples_leaf': np.arange(1, 10, 1)
        }
    },
    'Random Forest': {
        'model': RandomForestClassifier(),
        'params': {
            'n_estimators': np.arange(1, 15, 1)
        }
    },
    'KNN': {
        'model': KNeighborsClassifier(),
        'params': {
            "n_neighbors": [3, 4, 5, 6, 7, 9],
            "weights": ["uniform", "distance"]
        }
    }
}

In [478]:
from sklearn.model_selection import GridSearchCV

scores = []
best_models = []

for name, model in model_params.items():
    grid_search = GridSearchCV(model['model'], model['params'], cv=5, n_jobs=-1)
    grid_search.fit(X_TRAIN, y_TRAIN)
    scores.append({
        'Model': name,
        'Best Score': grid_search.best_score_,
        'Best Parameters': grid_search.best_params_
    })
    best_models.append(grid_search.best_estimator_)
    
df = pd.DataFrame(scores,columns=['Model', 'Best Score', 'Best Parameters'])
df

,Model,Best Score,Best Parameters
0,Decision Tree,0.887734,"{'criterion': 'gini', 'max_depth': 6, 'min_sam..."
1,Random Forest,0.896252,{'n_estimators': 13}
2,KNN,0.853833,"{'n_neighbors': 7, 'weights': 'distance'}"

In [479]:
# TRUTH, PREDS = evaluate(grid_search.best_estimator_, X_TRAIN, y_TRAIN)
# print("Best Estimator:", grid_search.best_estimator_)
# print_statistics(TRUTH, PREDS)

### 3.2 Model Testing

In [480]:
for model in best_models:
    print("\nModel:", model)
    model.fit(X_TRAIN, y_TRAIN)
    preds = model.predict(X_IVS)
    print_statistics(y_IVS, preds)

Model: DecisionTreeClassifier(max_depth=6, min_samples_split=4)
Accuracy:  0.8951
Precision:  0.8911
Recall is:  0.8951
F1 score:  0.8888
Matthews correlation coefficient:  0.7409

Model: RandomForestClassifier(n_estimators=13)
Accuracy:  0.8896
Precision:  0.8903
Recall is:  0.8896
F1 score:  0.8859
Matthews correlation coefficient:  0.7301

Model: KNeighborsClassifier(n_neighbors=7, weights='distance')
Accuracy:  0.8604
Precision:  0.8492
Recall is:  0.8604
F1 score:  0.8507
Matthews correlation coefficient:  0.6415