# Engenharia do Conhecimento 2023/2024

## Project: *Thyroid disease Data Set*

#### Group 6:

- Eduardo Proença 57551
- Tiago Oliveira 54979
- Bernardo Lopes 54386

### Summary

To be done...

## 1. Data processing

### 1.1 Creating a Data Frame

Firstly, we need to create a Data Frame. Using the [Pandas](https://pandas.pydata.org) Python Library, we can read our data from the file proj-data.csv, which contains the data set we will be using in this project.

In [38]:
import pandas as pd

# Load data set
df_thyroid = pd.read_csv('proj-data.csv')
df_thyroid.shape

(7338, 31)

In [39]:
df_thyroid.head()

,age:,sex:,on thyroxine:,query on thyroxine:,on antithyroid medication:,sick:,pregnant:,thyroid surgery:,I131 treatment:,query hypothyroid:,...,TT4:,T4U measured:,T4U:,FTI measured:,FTI:,TBG measured:,TBG:,referral source:,diagnoses,[record identification]
0,29,F,f,f,f,f,f,f,f,t,...,?,f,?,f,?,f,?,other,-,[861106018]
1,29,F,f,f,f,f,f,f,f,f,...,128,f,?,f,?,f,?,other,-,[860916073]
2,36,F,f,f,f,f,f,f,f,f,...,?,f,?,f,?,t,26,other,-,[850726049]
3,60,F,f,f,f,f,f,f,f,f,...,?,f,?,f,?,t,26,other,-,[861010020]
4,77,F,f,f,f,f,f,f,f,f,...,?,f,?,f,?,t,21,other,-,[860324074]

In [40]:
# Deep copy of your dataset, to use in data processing
# df_thyroid_processed = df_thyroid.copy()
df_thyroid_processed = df_thyroid.drop(["diagnoses", "[record identification]"],
                                       axis='columns')

In [41]:
import numpy as np

# Replace the missing values '?' with NaN
df_thyroid_processed.replace('?', np.NaN, inplace=True)

encoded_values = {
    'M': '0', 'F': '1',
    'f': '0', 't': '1',
    'other': '0', 'SVI': '1',
    'SVHC': '2', 'STMW': '3',
    'SVHD': '4', 'WEST': '5'
}

df_thyroid_processed = df_thyroid_processed.replace(encoded_values)

In [42]:
df_thyroid_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7338 entries, 0 to 7337
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age:                        7338 non-null   int64
 1   sex:                        7098 non-null   object
 2   on thyroxine:               7338 non-null   object
 3   query on thyroxine:         7338 non-null   object
 4   on antithyroid medication:  7338 non-null   object
 5   sick:                       7338 non-null   object
 6   pregnant:                   7338 non-null   object
 7   thyroid surgery:            7338 non-null   object
 8   I131 treatment:             7338 non-null   object
 9   query hypothyroid:          7338 non-null   object
 10  query hyperthyroid:         7338 non-null   object
 11  lithium:                    7338 non-null   object
 12  goitre:                     7338 non-null   object
 13  tumor:                      7338 non-null   object
 14  hypopituitary:              7338 non-null   object
 15  psych:                      7338 non-null   object
 16  TSH measured:               7338 non-null   object
 17  TSH:                        6667 non-null   object
 18  T3 measured:                7338 non-null   object
 19  T3:                         5270 non-null   object
 20  TT4 measured:               7338 non-null   object
 21  TT4:                        6976 non-null   object
 22  T4U measured:               7338 non-null   object
 23  T4U:                        6674 non-null   object
 24  FTI measured:               7338 non-null   object
 25  FTI:                        6680 non-null   object
 26  TBG measured:               7338 non-null   object
 27  TBG:                        284 non-null    object
 28  referral source:            7338 non-null   object
dtypes: int64(1), object(28)
memory usage: 1.6+ MB

In [43]:
df_thyroid_processed = df_thyroid_processed.drop("TBG:", axis='columns')

In [44]:
from sklearn.impute import KNNImputer

# Initialize KNNImputer with k=5 (you can adjust k as needed)
imputer = KNNImputer(n_neighbors=3)

# Perform KNN imputation
imputed_data = imputer.fit_transform(df_thyroid_processed)

# Convert the imputed array back to a DataFrame
df_thyroid_processed = pd.DataFrame(imputed_data, columns=df_thyroid_processed.columns)

In [45]:
df_thyroid_processed

,age:,sex:,on thyroxine:,query on thyroxine:,on antithyroid medication:,sick:,pregnant:,thyroid surgery:,I131 treatment:,query hypothyroid:,...,T3 measured:,T3:,TT4 measured:,TT4:,T4U measured:,T4U:,FTI measured:,FTI:,TBG measured:,referral source:
0,29.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,2.233333,0.0,117.000000,0.0,0.946667,0.0,120.000000,0.0,0.0
1,29.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.900000,1.0,128.000000,0.0,0.943333,0.0,138.333333,0.0,0.0
2,36.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.666667,0.0,89.333333,0.0,0.973333,0.0,96.333333,1.0,0.0
3,60.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.866667,0.0,133.333333,0.0,1.083333,0.0,115.666667,1.0,0.0
4,77.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.933333,0.0,121.333333,0.0,1.046667,0.0,113.000000,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7333,56.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.866667,1.0,64.000000,1.0,0.830000,1.0,77.000000,0.0,1.0
7334,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.166667,1.0,91.000000,1.0,0.920000,1.0,99.000000,0.0,1.0
7335,69.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.366667,1.0,113.000000,1.0,1.270000,1.0,89.000000,0.0,1.0
7336,47.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.566667,1.0,75.000000,1.0,0.850000,1.0,88.000000,0.0,0.0
7337,31.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.366667,1.0,66.000000,1.0,1.020000,1.0,65.000000,0.0,0.0

In [46]:
df_thyroid_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7338 entries, 0 to 7337
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age:                        7338 non-null   float64
 1   sex:                        7338 non-null   float64
 2   on thyroxine:               7338 non-null   float64
 3   query on thyroxine:         7338 non-null   float64
 4   on antithyroid medication:  7338 non-null   float64
 5   sick:                       7338 non-null   float64
 6   pregnant:                   7338 non-null   float64
 7   thyroid surgery:            7338 non-null   float64
 8   I131 treatment:             7338 non-null   float64
 9   query hypothyroid:          7338 non-null   float64
 10  query hyperthyroid:         7338 non-null   float64
 11  lithium:                    7338 non-null   float64
 12  goitre:                     7338 non-null   float64
 13  tumor:                      7338 non-null   float64
 14  hypopituitary:              7338 non-null   float64
 15  psych:                      7338 non-null   float64
 16  TSH measured:               7338 non-null   float64
 17  TSH:                        7338 non-null   float64
 18  T3 measured:                7338 non-null   float64
 19  T3:                         7338 non-null   float64
 20  TT4 measured:               7338 non-null   float64
 21  TT4:                        7338 non-null   float64
 22  T4U measured:               7338 non-null   float64
 23  T4U:                        7338 non-null   float64
 24  FTI measured:               7338 non-null   float64
 25  FTI:                        7338 non-null   float64
 26  TBG measured:               7338 non-null   float64
 27  referral source:            7338 non-null   float64
dtypes: float64(28)
memory usage: 1.6 MB